<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goodcom.pos">

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GdSmartPosSdkDemo" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Iso8583.Iso8583TestActivity" />
        <activity android:name=".pinpad.TDESActivity" />
        <activity android:name=".pinpad.DukptActivity" />
        <activity android:name=".emv.EmvNewActivity" />
        <activity android:name=".pinpad.SelectPinpadKeySystemActivity"/>
        <activity android:name=".pinpad.RSAActivity" />

        <activity android:name=".bank.BankActivity"/>
    </application>

</manifest>